@media screen and (max-width: 375px){
    body{
        width: 100%;
        margin: 0;
    }
    .carousel{
        column-count: 2;
        width: 100%;
    }
    .gifs3{
        display: none;
    }
    .gifs4{
        display: none;
    }
    .imagen3{
        display: none;
    }
    .span3{
        display: none;
    }
}

@media screen and (max-width: 570px){

    body{
        width: 100%;
        margin: 0;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        padding-top: 10px;
    }
    .navbar{
        display:flex;
        align-items: center;
        margin: 10px 0;
        width: 70%;
    }
    .menu-list{
        display: none;
    }
    .brand{
        color: rgb(255, 255, 255);
        font-size: 35px;
        font-weight: bold;
    }
    .brand-img{
        width: 35px;
        height: 35px;
    }
    .upload-create{
        display: none;
    }
    
    .container-login{
        display: none;
    } 
    .container-responsive{
        display: flex;
        justify-content: space-around;
        width: 20%;
    }
    .container-responsive_button{
        font-size: 30px;
        text-decoration: none;
    }
    .icon1{
        color: rgb(176, 244, 5)
    }
    .icon2{
        color: rgb(255, 247, 0);
    }
    .icon3{
        color: rgb(6, 255, 205);
    }
    .search{
        display: flex;
        width: 100%;
        height: 52px;
    }
    .search-form_input{
        width: 91%;
        height: 52px;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .search-form_button{
        width: 6%;
        border: none;
        background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
        position: relative;
        animation: change 3s ease-in-out infinite;
        
    }
    @keyframes change {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }
    
    .container-ansSearch{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        color: rgb(255, 255, 255);
    }
    .result-search{
        display: none;
    }
    
    .galery-head-start-res{
        display: flex;
    }
    .span2{
        display: none;
    }
    .div-spanSearch{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    }

    .spanSearch_s{
        border-radius: 1.5rem;
        background-color: rgb(54, 53, 53);
    }
    .spanSearch_a{ 
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
        font-size: .8rem;
    }
    .spanSearch_a:hover{
        color: rgb(0, 255, 187);
    }
    .clips-head_title{
        padding: 5px 0;
    }
    .clips-head_button{
        display: none;
    }

    .imagen4{
        display: none;
    }
    .galery-head_responsive{
        display: flex;
    }
    .galery-head_responsive h2{
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }
    
    .galery-head-start{
        display: none;
    }
    .galery-head-end{
        display: none;
    }
    .masonry{
        column-count: 2;
        column-gap: 1em;
    }
}
@media screen and (max-width: 700px){
    body{
        width: 100%;
        margin: 0;
    }  
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        padding-top: 10px;
    }
    .navbar{
        display:flex;
        align-items: center;
        margin: 10px 0;
        width: 70%;
    }
    .menu-list{
        display: none;
    }
    .brand{
        color: rgb(255, 255, 255);
        font-size: 35px;
        font-weight: bold;
    }
    .brand-img{
        width: 35px;
        height: 35px;
    }
    .upload-create{
        display: none;
    }
    .container-login{
        display: none;
    } 
    .container-responsive{
        display: flex;
        justify-content: space-around;
        width: 20%;
    }
    .container-responsive_button{
        font-size: 30px;
        text-decoration: none;
    }
    .icon1{
        color: rgb(176, 244, 5)
    }
    .icon2{
        color: rgb(255, 247, 0);
    }
    .icon3{
        color: rgb(6, 255, 205);
    }
    .search{
        display: flex;
        width: 100%;
        height: 52px;
    }
    .search-form_input{
        width: 91%;
        height: 52px;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .search-form_button{
        width: 10%;
        height: 52px;
        color: rgb(255, 255, 255);
        border: none;
        background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%,
         rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
        font-size: 1rem;
        padding: 1rem;
    }
    .galery-head-start-res{
        display: flex;
    }
    .span2{
        display: none;
    }
    .container-ansSearch{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        color: rgb(255, 255, 255);
    }
    .result-search{
        display: none;
    }
    .div-spanSearch{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    }
    .spanSearch_s{
        border-radius: 1.5rem;
        background-color: rgb(54, 53, 53);
    }
    .spanSearch_a{ 
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
        font-size: .8rem;
    }
    .spanSearch_a:hover{
        color: rgb(0, 255, 187);
    }
    .clips-head_title{
        padding: 5px 0;
    }
    .clips-head_button{
        display: none;
    }
    .carousel-videos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .carousel-videos_vid{
        width: 200px;
    }
    .imagen4{
        display: none;
    }
    .galery-head_responsive{
        display: flex;
    }
    .galery-head_responsive h2{
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }
    .galery-head-start{
        display: none;
    }
    .galery-head-end{
        display: none;
    }
    .masonry{
        column-count: 3;
        column-gap: 1em;
    }
}
@media screen and (max-width: 900px){
    body{
        width: 100%;
        margin: 0;
    } 
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        padding-top: 10px;
    }
    .navbar{
        display:flex;
        align-items: center;
        margin: 10px 0;
        width: 70%;
    }
    .menu-list{
        display: none;
    }
    .brand{
        color: rgb(255, 255, 255);
        font-size: 35px;
        font-weight: bold;
    }
    .brand-img{
        width: 35px;
        height: 35px;
    }
    .upload-create{
        display: none;
    }
    .container-login{
        display: none;
    } 
    .container-responsive{
        display: flex;
        justify-content: space-around;
        width: 20%;
    }
    .container-responsive_button{
        font-size: 30px;
        text-decoration: none;
    }
    .icon1{
        color: rgb(176, 244, 5)
    }
    .icon2{
        color: rgb(255, 247, 0);
    }
    .icon3{
        color: rgb(6, 255, 205);
    }
    .search{
        display: flex;
        width: 100%;
        height: 52px;
    }
    .search-form_input{
        width: 93%;
        height: 52px;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .search-form_button{
        width: 8%;
        height: 52px;
        color: rgb(255, 255, 255);
        border: none;
        background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%,
         rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
        font-size: 1rem;
        padding: 1rem;
    }
    .galery-head-start-res{
        display: flex;
    }
    .span2{
        display: none;
    }
    .container-ansSearch{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        color: rgb(255, 255, 255);
    }
    .result-search{
        display: none;
    }
    .div-spanSearch{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    }
    .spanSearch_s{
        border-radius: 1.5rem;
        background-color: rgb(54, 53, 53);
    }
    .spanSearch_a{ 
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
        font-size: .8rem;
    }
    .spanSearch_a:hover{
        color: rgb(0, 255, 187);
    }
    .imagen4{
        display: none;
    }
    .clips-head_title{
        padding: 5px 0;
    }
    .clips-head_button{
        display: none;
    }
    .galery-head_responsive{
        display: flex;
    }
    .galery-head_responsive h2{
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }
    .galery-head-start{
        display: none;
    }
    .galery-head-end{
        display: none;
    }
}
@media screen and (max-width:1060px){
    body{
        width: 100%;
        margin: 0;
    }  
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        padding-top: 10px;
    }
    .navbar{
        display:flex;
        align-items: center;
        margin: 10px 0;
        width: 70%;
    }
    .menu-list{
        display: none;
    }
    .brand{
        color: rgb(255, 255, 255);
        font-size: 35px;
        font-weight: bold;
    }
    .brand-img{
        width: 35px;
        height: 35px;
    }
    .upload-create{
        display: none;
    }
    .container-login{
        display: none;
    } 
    .container-responsive{
        display: flex;
        justify-content: space-evenly;
        width: 20%;
    }
    .container-responsive_button{
        font-size: 30px;
        text-decoration: none;
    }
    .icon1{
        color: rgb(176, 244, 5)
    }
    .icon2{
        color: rgb(255, 247, 0);
    }
    .icon3{
        color: rgb(6, 255, 205);
    }
    .search{
        display: flex;
        width: 100%;
        height: 52px;
    }
    .search-form_input{
        width: 95%;
        height: 52px;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .search-form_button{
        width: 6%;
        height: 52px;
        color: rgb(255, 255, 255);
        border: none;
        background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%,
         rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
        font-size: 1rem;
        padding: 1rem;
    }
    .galery-head-start-res{
        display: flex;
    }
    .container-ansSearch{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        color: rgb(255, 255, 255);
    }
    .result-search{
        display: none;
    }
    .div-spanSearch{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    }
    .spanSearch_s{
        border-radius: 1.5rem;
        background-color: rgb(54, 53, 53);
    }
    .spanSearch_a{ 
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
        font-size: .8rem;
    }
    .spanSearch_a:hover{
        color: rgb(0, 255, 187);
    }
    .clips-head_title{
        padding: 5px 0;
    }
    .clips-head_button{
        display: none;
    }
    .galery-head_responsive{
        display: flex;
    }
    .galery-head_responsive h2{
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }
    .galery-head-start{
        display: none;
    }
    .galery-head-end{
        display: none;
    }
}

@media screen and (max-width:1320px){
    body{
        width: 100%;
        margin: 0;
    }
}
@media screen and (min-width:1321px){
    body{
        margin: 0 10vw;
    }
}
