html, *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: rgb(18, 18, 18);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.wrapper{
    width: 100%;
    margin: 0 154px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 70px;
    padding-top: 10px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 70%;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    cursor: pointer;
    list-style: none;
}
.menu-list_li{
    list-style: none;
    display: inline-block;
    border-right: 5px solid rgb(18, 18, 18);
    
}
.menu-list-li_a{
    padding: 5px 1.1rem;
    text-decoration: none;
    border-bottom:5px solid rgb(122, 4, 181);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
}
.menu-list-li_a:hover{
   background: linear-gradient(to top, rgb(122, 4, 181),rgb(129, 42, 172));
}
.brand{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}
.brand-img{
    width: 35px;
    height: 35px;
}
.upload-create{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 15%;
}
.upload-create_a{
    margin: 0 2px;
    padding: 8.5px 16px;
    background-color: #6157FF;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;

}


.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 5px;
    font-weight: bold;
}
.container-login_a{
    color: rgb(255, 255, 255);
    padding: 8px 1.8rem;
    background-color: rgb(54, 53, 53);
    text-decoration: none;
    font-size: 14px;
}
.userIcon{
    color: rgb(255,255,255);  
    padding: 9px 16px;
    background-color: rgb(89, 86, 86);
    font-size: 14px;
}
.container-responsive{
    display: none;
}
.search{
    display: flex;
    justify-content: center;
    width: 100%;
}
.search-form_input{
    width: 94%;
    margin-right: -5px;
    height: 52px;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    background-color: rgb(255, 255, 255);
}
.search-form_button{
    width: 6%;
    border: none;
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
    position: relative;
    background-size: 400%;
    animation: change 3s ease-in-out infinite;
 
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.search-form_button a{
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    text-decoration: none;
}
.container-ansSearch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0 15px;
    color: rgb(255, 255, 255);
}
.result-search{
    margin-right: 6rem;
}
.result-search_span{
    font-size: 14px;

}
.galery-head-start-res{
    display: none;
}

.div-spanSearch{
    display: inline-block;
}
.spanSearch_s{
    padding: 12px 1rem;
    margin: 5px;
    border-radius: 1.5rem;
    background-color: rgb(54, 53, 53);
    ;
}
.spanSearch_a{ 
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
.spanSearch_a:hover{
    color: rgb(0, 255, 187);
}

.giphy-clips{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.clips-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.clips-head_title h2{
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.clips-head_button i{
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin: 12px 0;
    padding: 6px 15px;
}
.button1{
    background-color: rgb(39, 39, 39);
}
.button2{
    background-color: rgb(89, 86, 86);
}
.carousel-videos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.carousel-videos_vid{
    border-radius: .2rem;
    height: 139px;
    object-fit: contain;
}
.galery-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}
.galery-head-start_a{
    padding: 12px 1.3rem;
    border-radius: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
.button-gif{
    background: linear-gradient(-135deg, rgb(74, 144, 226) 0%, rgb(148, 56, 255) 100%);
}

.galery-head-end{
    margin-top: 1.5rem;
}
.galery-head-end_h5{
    font-size: 14px;
    color: rgb(62, 60, 60);

}
.galery-head-end_h5 span{
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}
.galery-head_responsive{
    display: none;
}
.masonry{
    column-count: 4;
    
}
.item{
    display: inline-block;
    width: 100%;
}
.item img{
    border-radius: .4rem;
    width: 100%;
    object-fit: contain;
    margin: .4rem 0;
}






/* .galery-gifs{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    grid-auto-flow: dense;
}
.galery-gifs:nth-child(1n){
    height: 7rem;
}
.galery-gifs:nth-child(2n){
    height: 8rem;

}
.galery-gifs:nth-child(3n){
    height: 9rem;

}
.galery-gifs:nth-child(4n){
    height: 5rem;

}

.galery-gifs:nth-child(5n){
    
}
.grid-gif{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    border-radius: 4px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;

}
.wide{
    grid-column: span 2;
}
.tall{
    grid-row: span 2;
}
 */
